
html {
    height: 100%;
    box-sizing: border-box;
  }
  
  h1, h2 {
      text-align: center;
  }
  
  .containter {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
  }
  
  #space {
      margin-top: 15px;
  }
  
  .footer {
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      text-align: center;
      font-size: 30px;
      color: #4A5BD2;
      padding: 1rem;
  }
  
  /*MEDIA QUERIES*/
  
  
  @media only screen and (max-width: 980px){
  
      h2 {
          margin-left: 70px;
      }
      @media only screen and (max-width: 768px){
  
        h2 {
            margin-left: 70px;
        }
        @media only screen and (max-width: 640px){
  
            h2 {
                margin-left: 70px;
            }
       }
   }
}
  
  